.container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.listBox{
  background-color: white;
  padding: 50px;
}

.pets{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.pets > li {
  padding: 5px;
}
